<!DOCTYPE html>
<html>
    <head>
        <title>Wellogy - Workwell - Exercices</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="dist/css/workwell.css">
        <link rel="stylesheet" href="dist/css/exercices.css">
        <link rel="stylesheet" href="dist/css/general.css">
    </head>
    <body>
        <div id="exercices">
            <div id="menu">
                <div id="menu_first_item" class="selected">
                    <label>Exercices</label>
                </div>
                <div id="menu_third_item">
                    <label>Coaching</label>
                </div>
            </div>
            <div id="exercice_section" class="section isShown">
                <div id="header_cell" class="exercices_cell">
                    <img src="dist/images/ic_intro_exercices.png"/>
                    <label>Découvrez quelques exercices d’initiation pour apprendre en douceur à vous détendre depuis votre bureau.</label>
                </div>
                <div class="exercices_cell even" id="exercice_video_1">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>S’installer confortablement</label>
                </div>
                <div class="exercices_cell even" id="exercice_video_2">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>Retrouver la concentration</label>
                </div>
                <div class="exercices_cell even" id="exercice_video_3">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>Vivre l’instant présent</label>
                </div>
                <div class="exercices_cell even" id="exercice_video_4">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>Gérer son stress</label>
                </div>
                <div class="exercices_cell even" id="exercice_video_5">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>Prendre confiance en soi</label>
                </div>
            </div>
            <div id="coaching_section" class="section isHidden">
                <div id="advice_popin">
                    <div id="advice_popin_content">
                        <div id="advice_image">
                            <img src="/dist/images/ic_advice_big_nutrition.png" />
                        </div>
                        <div id="advice_title"><label>Mon conseil nutrition</label></div>
                        <div id="advice_description">
                            <div>
                            <label><span class="pink_point">•</span> Adapter votre alimentation pendant ces périodes peut vous aider à gérer vos émotions. Pour cela, privilégiez les aliments source d’oméga 3 comme les poissons gras : sardines, maquereaux, saumons, thons... qui sont des alliés de votre équilibre émotionnel.<br /><br /><span class="pink_point">•</span> Pensez également aux aliments source de magnésium pour diminuer le stress et la fatigue comme les
Notre objectif est d’accompagner les entreprises dans leur politique de bien être en plaçant l'humain au centre car des employés motivés, considérés et engagés valent de l'or ! Et comme les enjeux RH évoluent à mesure que le monde du travail se transforme, nous souhaitons anticiper et innover sur ces sujets à vos côtés.
oléagineux : amandes, noisettes, noix de cajou, noix de pécan, et pour les gourmands... le chocolat !</label>
                            </div>
                        </div>
                        <div class="button_close">
                            <button id="close">Fermer</button>
                        </div>
                    </div>
                </div>
                <div id="header_cell" class="exercices_cell">
                    <img src="dist/images/ic_intro_exercices.png"/>
                    <label>Le déménagement de votre entreprise est une source de stress ? Nous vous aidons à gérer cette période de transition.</label>
                </div>
                <div class="coaching_title">
                    <label>CONSEILS :</label>
                </div>
                <div id="coaching_advice">
                    <div id="coaching_carousel">
                        <div class="slide" id="food">
                            <div>
                                <img src="dist/images/ic_advice_small_nutrition.png" />
                                <span class="advice_title"><label>Mon conseil nutrition</label></span>
                            </div>
                            <div class="advice_description">
                                <label>
                                    <span class="pink_point">•</span> Adapter votre alimentation pendant ces périodes peut vous aider à gérer vos émotions. Pour cela, privilégiez les aliments source d’oméga 3 comme les poissons gras : sardines, maquereaux, saumons, thons... qui sont des alliés…<br />
                                        <a>Voir plus</a>
                                </label>
                            </div>
                        </div>
                        <div class="slide" id="rh">
                            <div>
                                <img src="dist/images/ic_advice_small_rh.png" />
                                <span class="advice_title"><label>Le conseil RH</label></span>
                            </div>
                            <div class="advice_description">
                                <label>
                                    <span class="pink_point">•</span> N’hésitez pas à échanger avec votre manager de l’impact de ce déménagement sur votre vie personnelle : changement dans vos temps de transports, découverte de nouveaux collègues, adaptation à une nouvelle organisation… <br />
                                        <a>Voir plus</a>
                                </label>
                            </div>
                        </div>
                        <div class="slide" id="desk">
                            <div>
                                <img src="dist/images/ic_advice_small_office.png" />
                                <span class="advice_title"><label>Décorer mon nouveau bureau</label></span>
                            </div>
                            <div class="advice_description">
                                <label>
                                    <span class="pink_point">•</span> Et si le jaune devenait votre couleur pour égayer votre bureau ? :) Pensez également à mettre des plantes vertes dont la présence apporte tout simplement du calme et de la sérénité à votre pièce. Essayez de ne pas surcharger…<br />
                                        <a>Voir plus</a>
                                </label>
                            </div>
                        </div>
                        <div class="slide" id="team">
                            <div>
                                <img src="dist/images/ic_advice_small_team.png" />
                                <span class="advice_title"><label>Conseil d’équipe</label></span>
                            </div>
                            <div class="advice_description">
                                <label>
                                    <span class="pink_point">•</span> Prenez le temps de rencontrer les collaborateurs qui vous entourent : découvrez l’application mobile Never Est Alone que vous pouvez essayer directement dans Workwell, et programmez un déjeuner avec un de vos nouveaux collègues.<br />
                                        <a>Voir plus</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="section_line">
                    &nbsp;
                </div>
                <div class="coaching_title">
                    <label>EXERCICES :</label>
                </div>
                <div>
                    <div class="exercices_cell even" id="coaching_video_1">
                        <img src="dist/images/ic_video_white.png"/>
                        <label>Gérer le changement</label>
                    </div>
                    <div class="exercices_cell even" id="coaching_video_2">
                        <img src="dist/images/ic_video_white.png"/>
                        <label>Diminuer son stress</label>
                    </div>
                    <div class="exercices_cell even" id="coaching_video_3">
                        <img src="dist/images/ic_video_white.png"/>
                        <label>Se projeter sereinement</label>
                    </div>
                    <div class="exercices_cell even" id="coaching_video_4">
                        <img src="dist/images/ic_video_white.png"/>
                        <label>Se relaxer</label>
                    </div>
                    <div class="exercices_cell even" id="coaching_video_5">
                        <img src="dist/images/ic_video_white.png"/>
                        <label>Se détendre dans les transports</label>
                    </div>
                </div>
            </div>
        </div>
        <script src="dist/exercices.bundle.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
            ga('create', 'UA-88806821-4', 'auto');
            ga('send', 'pageview', 'exercices');
        </script>
    </body>
    <script type="application/javascript">
        window.onload = function() {
            document.getElementById("menu_first_item").onclick = function() {
                document.getElementById('menu_first_item').className = 'selected';
                document.getElementById('menu_third_item').className = 'unselected';
                document.getElementById('exercice_section').className = 'section isShown';
                document.getElementById('coaching_section').className = 'section isHidden';
            }
            
            document.getElementById("menu_third_item").onclick = function() {
                //On traque le fait que l'utilisateur appuie sur le coaching
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
                ga('create', 'UA-88806821-4', 'auto');
                ga('send', 'pageview', 'coaching');
                
                document.getElementById('menu_first_item').className = 'unselected';
                document.getElementById('menu_third_item').className = 'selected';
                document.getElementById('exercice_section').className = 'section isHidden';
                document.getElementById('coaching_section').className = 'section isShown';
            }
            
        }
    </script>
</html>