<!DOCTYPE html>
<html>
    <head>
        <title>Wellogy - Workwell - Exercices</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="dist/css/workwell.css">
        <link rel="stylesheet" href="dist/css/exercices.css">
        <link rel="stylesheet" href="dist/css/general.css">
    </head>
    <body>
        <div id="exercices">
            <div id="menu">
                <div id="menu_first_item" class="selected">
                    <label>Exercices</label>
                </div>
                <div id="menu_third_item">
                    <label>Coaching</label>
                </div>
            </div>
            <div id="exercice_section" class="section isShown">
                <div id="header_cell" class="exercices_cell">
                    <img src="dist/images/ic_intro_exercices.png"/>
                    <label>Découvrez quelques exercices d’initiation pour apprendre en douceur à vous détendre depuis votre bureau.</label>
                </div>
                <div class="exercices_cell even" id="first_video">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>S’installer confortablement</label>
                </div>
                <div class="exercices_cell even" id="second_video">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>Retrouver la concentration</label>
                </div>
                <div class="exercices_cell even" id="third_video">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>Vivre l’instant présent</label>
                </div>
                <div class="exercices_cell even" id="fourth_video">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>Gérer son stress</label>
                </div>
                <div class="exercices_cell even" id="fifth_video">
                    <img src="dist/images/ic_video_white.png"/>
                    <label>Prendre confiance en moi</label>
                </div>
            </div>
            <div id="programme_section" class="section isHidden">
                <div id="programme_disable">
                    <div class="disable_title">
                        <label>Cette section n'est pas disponible pour le moment</label>
                    </div>
                    <div class="disable_line">
                        &nbsp;
                    </div>
                    <div class="disable_description">
                        <label>Faites découvrir l’application dans votre entreprise. <b>Les collaborateurs des entreprises « Partenaires Wellogy » peuvent d’accéder à toutes les fonctionnalités !</b></label>
                    </div>
                    <div class="disable_share" id="program_share">
                    </div>
                </div>
            </div>
            <div id="coaching_section" class="section isHidden">
                <div id="coaching_disable">
                    <div class="disable_title">
                        <label>Cette section n'est pas disponible pour le moment</label>
                    </div>
                    <div class="disable_line">
                        &nbsp;
                    </div>
                    <div class="disable_description">
                        <label>Faites découvrir l’application dans votre entreprise. <b>Les collaborateurs des entreprises « Partenaires Wellogy » peuvent d’accéder à toutes les fonctionnalités !</b></label>
                    </div>
                    <div class="disable_share" id="coaching_share">
                    </div>
                </div>
            </div>
        </div>
        <script src="dist/exercices.bundle.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88806821-4"></script>
        <script>
            ga('send', 'pageview', 'exercices');
        </script>
    </body>
    <script type="application/javascript">
        window.onload = function() {
            document.getElementById("menu_first_item").onclick = function() {
                document.getElementById('menu_first_item').className = 'selected';
                document.getElementById('menu_third_item').className = 'unselected';
                document.getElementById('exercice_section').className = 'section isShown';
                document.getElementById('programme_section').className = 'section isHidden';
                document.getElementById('coaching_section').className = 'section isHidden';
            }
            
            document.getElementById("menu_third_item").onclick = function() {
                //On traque le fait que l'utilisateur appuie sur le coaching
                ga('send', 'pageview', 'coaching');
                document.getElementById('menu_first_item').className = 'unselected';
                document.getElementById('menu_third_item').className = 'selected';
                document.getElementById('exercice_section').className = 'section isHidden';
                document.getElementById('programme_section').className = 'section isHidden';
                document.getElementById('coaching_section').className = 'section isShown';
            }
            
        }
    </script>
</html>