<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <link rel="stylesheet" href="dist/css/workwell.css">
    <link rel="stylesheet" href="dist/css/general.css">
    <link rel="stylesheet" href="dist/css/home.css">

    <title>Home</title>
</head>
<body>
    <div id="home">
        <div id="home_first_section" class="section">
            <span style="margin:auto 0px auto 70px;">
                <img src="dist/images/player.png" style="height:30px;" />
            </span>
            <span style="margin:auto 0px auto 5px;">
                <label style="height:30px;">Qu'est-ce que Wellogy ?</label>
            </span>
        </div>
        <div id="home_second_section" class="section">
            <span style="margin: auto;width:150px;text-align:center;">
                <label style="height:110px;">Découvrir<br />les exercices</label>
            </span>
        </div>
        <div id="home_third_section">
            <div id="header">
                &nbsp;
            </div>
            <div id="footer">
                <div id="article_header">
                    <img src="dist/images/wellogy.png" style="width:30px;height:30px;" />
                    <label>L'appli et les services Wellogy</label>
                </div>
                <div id="article_description">
                    <label>Wellogy propose une application ainsi que des services de Sophrologie et autres disciplines en faveur du bien être en entreprise.</label>
                </div>
            </div>
        </div>
    </div>    
    <script src="dist/home.bundle.js"></script>
</body>
</html>