<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <link rel="stylesheet" href="dist/css/workwell.css">
    <link rel="stylesheet" href="dist/css/general.css">
    <link rel="stylesheet" href="dist/css/home.css">

    <title>Home</title>
</head>
<body>
    <div id="home">
        <div id="home_first_section" class="section">
            <span style="margin:auto 0px auto 5px;">
                <label style="height:30px;"></label>
            </span>
        </div>
        <div id="home_second_section" class="section">
            <span style="margin: auto;width:150px;text-align:center;">
                <label style="height:110px;">Découvrir<br />les exercices</label>
            </span>
        </div>
        <div id="home_third_section">
            <div id="header">
                &nbsp;
            </div>
            <div id="footer">
                <div id="article_header">
                    <img src="dist/images/wellogy.png" style="width:30px;height:30px;" />
                    <label>Qu'est-ce que Wellogy ?</label>
                </div>
                <div id="article_description">
                    <label>Activateur de bien-être au service du développement des entreprises !</label>
                </div>
            </div>
        </div>
    </div>    
    <script src="dist/home.bundle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88806821-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-88806821-4');
    </script>
</body>
</html>