<!DOCTYPE html>
<html>
    <head>
        <title>Wellogy - Workwell - Article</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="dist/css/general.css">
        <link rel="stylesheet" href="dist/css/partage.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="partage">
            <div id="partage_title">
                <label>À qui souhaitez-vous partager l’article ?</label>
            </div>
            <div id="partage_emails">
                <input type="text" id="first_email" placeholder="Email" />
                <input type="text" id="second_email" placeholder="Email" />
                <input type="text" id="third_email" placeholder="Email" />
            </div>
            <div id="partage_body">
                <label>Texte partagé :</label>
                <TextArea>Coucou c'est une super appli. Tu devrais aller voir : https://www.wellogy.fr/</TextArea>
            </div>
            <div id="partage_button">
            </div>
        </div>
    </body>
    <script src="dist/partage.bundle.js"></script>
</html>