<!DOCTYPE html>
<html>
    <head>
        <title>Wellogy - Workwell - Article</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="dist/css/general.css">
        <link rel="stylesheet" href="dist/css/partage.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="partage">
            <div id="partage_title">
            </div>
            <div id="partage_emails">
                <input type="text" id="first_email" placeholder="Email" />
                <input type="text" id="second_email" placeholder="Email" />
                <input type="text" id="third_email" placeholder="Email" />
            </div>
            <div id="partage_body">
            </div>
            <div id="partage_button">
            </div>
        </div>
    </body>
    <script src="dist/partage.bundle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88806821-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-88806821-4');
    </script>
</html>